<h1>Login to TIMS!</h1>
<form method="post" action="/login">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">

  <input type="submit" value="submit">

  <p>Don't have an account? <a href="/signup">Sign-Up</a> now!</p>
</form>