<h1>TIMS</h1>

<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <p><input type="text" name="name" placeholder="Name:"></p>
    <p><input type="text" name="email" placeholder="Email:"></p>
  <p><input type="text" name="password" placeholder="Password:"></p>
  <p><input class="btn btn-primary" type="submit"> or <a href="/login">Login</a></p>
</form>
