<!DOCTYPE html>
<html>
    <head>
        <title>TIMS: Tech Inventory Management System</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
        <style type="text/css">
             body {
                margin: 0;
                padding: 0;
                background: -webkit-linear-gradient(top, #56ccf2, #2f80ed) no-repeat 50% 50% fixed;
                background-size: cover;
                font-family: Oswald, sans-serif;
                color: #efefef;}
            #nav {
                background-color: #687587;
                height: 35px;}
            li {
                display: inline;
                padding: 50px;}
            #header {
                text-align: center;}
            #content {
                text-align: center;}
            a:link {
                color: black;
                text-decoration: none;}
            a:visited {
                color: black;
                text-decoration: none;}
            a:hover {
                color: orange;}
            table {
                width: 75%;
                margin-left: auto;
                margin-right: auto;}
            th, td {
                padding: 7px 10px 10px 10px;}
            th {
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 90%;
                border-bottom: 2px solid #111111;
                border-top: 2px solid #111111;
                text-align: center;}

        </style>
    </head>
    <body>
        <div id="header">
            <h1>TIMS</h1>
            <div id="nav">
                <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>

        <div id="content">
            <h3> Here's a list of all your tech devices: </h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Edit</th>
                </tr>
                <% @items.each do |item| %>
                    <tr>
                        <td>
                            <a href="/items/<%= item.id %>">
                                <%= item.name %>
                            </a>
                        </td>
                        <td>
                            <a href="/items/<%=item.id%>/edit">Edit</a>
                        </td>
                    </tr>
                <% end %>
            </table> 
        
            <p><a href="/items/new">Add New Item</a></p>
            <p><a href="/logout">Logout</a></p>
        </div>
    </body>
</html>
