<!DOCTYPE html>
<html>
  <head>
    <title>TIMS: Tech Inventory Management System</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    <style>
      body {
        margin: 0;
        padding: 0;
        background: -webkit-linear-gradient(top, #56ccf2, #2f80ed) no-repeat 50% 50% fixed;
        background-size: cover;
        font-family: Oswald, sans-serif;
        color: #efefef;}
      #nav {
        background-color: #687587;
        height: 35px;
        text-align: center;}
      li {
        display: inline;
        padding: 50px;}
      #header {
        text-align: center;}
      #content {
        text-align: center;
        padding: 20px;}
      a:link {
        color: black;
        text-decoration: none;}
      a:visited {
        color: black;
        text-decoration: none;}
      a:hover {
        color: orange;}
      input[type=text]{
        width: 40%;
        padding: 12px 20px;
        box-sizing: border-box;}
    </style>
  <body>
    <div id="header">
      <h1>TIMS</h1>
        <div id="nav">
          <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
          </ul>
        </div>
    </div>

    <div id="content">
      <h3>Add a New Item</h3>
        <form action="/items" method="POST">
          <label> Name: </label>
          <p><input type="text" name="name"> </p>
          <label> Serial number: </label>
          <p><input type="text" name="serial_number"> </p>
          <p><input type="submit" value="Create"></p>
          <p><a href="/items"> Cancel</a></p>
        </form>
    </div>
  </body>
</html>



