<!DOCTYPE html>
<html>

    <head>
        <title>TIMS: Tech Inventory Management System</title>
        <style type="text/css">
            body {
                background-color: rgb(185,179,175);
            }


        </style>
    </head>

    <body>
        <h1>Welcome To TIMS: Tech Inventory Management System</h1>
        <h2>A website to keep track of your tech devices</h2>
        <h3><a href="/signup">Sign-up</a> now or <a href="/login">Login</a></h3>
    </body>

</html>