<!DOCTYPE html>
<html>

    <head>
        <title>TIMS: Tech Inventory Management System</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
        <style type="text/css">
            body {
                border-style: solid;
                border-width: 10px 10px 10px 10px;
                margin: 100px;
                padding: 0;
                background: -webkit-linear-gradient(top, #56ccf2, #2f80ed) no-repeat 50% 50% fixed;
                background-size: cover;
                font-family: Oswald, sans-serif;
                color: #efefef;}
            a:link {
                color: black;
                text-decoration: none;}
            a:visited {
                color: black;
                text-decoration: none;}
            a:hover {
                color: orange;}
            h1, h2, h3 {
                text-align: center;}
            
        </style>
    </head>

    <body>


        <div id="content">
            <h1>Welcome to TIMS: Tech Inventory Management System</h1>
            <h2>A website to keep track of your tech devices</h2>
            <h3><a href="/signup">Sign-up</a> now or <a href="/login">Login</a></h3>
        </div>
    </body>
</html>